.friends-page {
  padding: 40px;
  text-align: center;
  background: linear-gradient(to bottom, #780081, #110049);
  min-height: 100vh;
  color: #ffd6ff;
  font-family: "Poppins", sans-serif;
}

.friends-title {
  font-size: 42px;
  color: #ffcc00;
  margin-bottom: 10px;
}

.friends-sub {
  font-size: 18px;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.filters select {
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  background: #ffe0ff;
}

.filters div label{
    margin-right: 5px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 20px;
}

.friend-card {
  background: #4b007a;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  color: white;
  transition: transform 0.2s ease;
}

.friend-card:hover {
  transform: scale(1.05);
}

.friend-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 12px;
  border: 3px solid #ffcc00;
}

.add-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #ffcc00;
  color: #4b007a;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #ffe066;
}



