.moodboard-container, .moodgraph-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

.stars{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.star{
    color: var(--star-color);
    cursor: pointer;
}

.star.active{
    color: var(--gold-color);
}

.mood-labels{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.mood-text{
    text-align: center;
}

button, .graph-mood {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--gold-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: var(--bg-color);
}

button:hover, .graph-mood:hover{
    box-shadow: 0 0 10px #36ffeb;
}

.moodgraph-container h1{
    margin-bottom: 20px;
    font-size: 2rem;
}

.recharts-line-curve{
    stroke: var(--gold-color);
}